<html ng-app="theApp">

<body ng-controller="missionControl">
	<input type="text" name="" value="" ng-model="filter">
	<div class="" ng-repeat="person in toDisplay|filter:filter">
		<ul>
			<li>{{person.name}}</li>
			<li>{{person.email}}</li>
			<li>{{person.phone}}</li>
			<li>{{person.dateEmployed}}</li>
		</ul>
	</div>




	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	<script src="app.js"></script>
	<script src="controller.js"></script>
	<script src="service.js"></script>
</body>

</html>
